<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="featureToggles" type="MS.Features.Configuration.FeatureToggleSettings, MS.Features" />
  </configSections>
  <appSettings>
    <add key="SampleFeatureA" value="true" />
    <add key="SampleFeatureB" value="true" />
    <add key="SampleFeatureC" value="false" />
    <add key="SampleFeatureD" value="false" />
  </appSettings>
  <featureToggles configSource="featureToggles.config" />
</configuration>